:root {
  // base
  --min-width: 320px;
  --radius: 20px;
  --duration: 0.3s;

  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #2253b2;
  --color-loader: #111214;

  --color-gray-100: #1c1c1f;
  --color-gray-200: #2a2a2e;
  --color-gray-300: #3d3d43;
}